<section class="page-intro edge--bottom" style="{% if page.intro_bg %}background-color: #{{ page.intro_bg | escape }};{% endif %}">
	<div class="container">
		<div class="title-center">
			<h1 class="post-title" itemprop="name headline">
				{% if page.intro_title %}
					{{ page.intro_title | escape }}
				{% else %}
					{{ page.title | escape }}
				{% endif %}
			</h1>
			{% if page.intro_subtitle %}
				<h2 class="subtitle">
					{{ page.intro_subtitle | escape }}
				</h2>
			{% endif %}			
			</h2>
		</div><!--// .title-center -->	
	</div><!--// .container -->
</section><!--// #page-intro -->