#sidebar {

	.sidebar-inner {

		padding: 2rem 5rem 5rem 0;

		h3 {

			color: $color-2;
			font-weight: 600;

		}

	}

	&.sticky-sidebar {

		.sidebar-inner {

			position: static !important;
			max-width: 100%; 

			&.fixed {  		

				@include media-breakpoint-up(lg) {

					position: fixed !important; 
					top: 0;	
					max-width: 31rem;

				}

				@include media-breakpoint-up(xl) {

					max-width: 37rem;

				}				

			}// .fixed

		}// .sidebar-inner

	}// .sticky-sidebar


	.project-categories {

		padding-left: 0;
		margin: 0;

		li {

			list-style: none;

		}// li 

	}// .project-categories

}// .sidebar