.featured {

	.categories {

		li {

			text-transform: uppercase;
			font-size: 1.4rem;
			font-weight: 600;
			letter-spacing: $base-letter-spacing;
			opacity: .2;

		}// li

		@include media-breakpoint-up(md) {
			
			margin-bottom: 3rem;

		}

	}// .categories

	&#more-projects {

		.categories {

			margin-bottom: 0;

		}

		@include media-breakpoint-down(sm) {
			
			padding-top: 0;

		}

		@include media-breakpoint-up(sm) {

			img {

				margin-top: 5rem;

			}

		}

	}

	@include media-breakpoint-up(xs) {

		img {

			margin-top: 3rem;

		}

	}

}// .featured

.skills {
	
	ul {
		
		margin-top: 3rem;
		float: left;

		@include media-breakpoint-down(md) {
			
			position: relative;
			left: 50%;
			@include transform(translateX(-50%));

		}

		li {

			float: left;
			margin: 0 1rem 1rem 0;

			@include media-breakpoint-up(sm) {

				margin: 0 1.6rem 2rem 0;

			}

			a {

				display: block;
    			min-height: 52px;

				img {

					@include center(false, true);
					position: relative;
					width: auto;
					max-height: 35px;
					max-width: 40px;

					&.static { 

						opacity: 0.2;

					}

					&.rollover {

						display: none;

					}

    				@include media-breakpoint-up(sm) {

						max-height: 50px;
						max-width: 58px;

    				}

					&:hover {

						opacity: 1;

					}

				}// img
				
				&.tooltip {

					&:hover {

						img {

							&.static {

								display: none;

							}

							&.rollover {

								display: block;

							}

						}

						&:before {

							bottom: 28%;

						}// .tooltip:before

						&:after {

							top: auto;
							bottom: -20%;

						}// .tooltip:after

					}// .tooltip:hover

				}// .tooltip

    		}// a

		}// li

	}// ul

}// .skills