#project-images {

	.project-image {

		margin-bottom: 3rem;

		&:last-of-type {
		
			margin-bottom: 0;		

		}// .project-image:last-of-type

	}// .project-image

}// #project-images 

#project-nav {
	
	margin-top: 3rem;

	.prev-project,
	.view-all,
	.next-project {
			
		text-align: center;

	}// .prev-project

	.view-all {

		text-align: center;
		opacity: 0.1;
		margin: 2rem 0;

		&:hover {

			opacity: 0.2;

		}// .view-all:hover

	}// .view-all

	@include media-breakpoint-up(sm) {
	
		margin-top: 10rem;	

		.prev-project {

			text-align: left;

		}// .prev-project

		.view-all {

			margin: 0;

		}// .view-all

		.next-project {

			text-align: right;

		}// .next-project

	}// @include media-breakpoint-up(sm)

}// .project-nav