.btn {
	
	position: relative;
	display: inline-block;
	padding-top: 1.7rem;
	margin-top: 2rem;
	font-size: 1.7rem;
	@include transition(all .2s ease);

	@include media-breakpoint-up(sm) {

		margin-top: 3rem;

	}

	svg {

		position: absolute;
		top: 0;
		fill: $color-1;

	}

	&:hover {

		svg {

			fill: darken($color-1,15%);

		}

	}

	&.btn-right {

		svg {

			right: 0;

		}

	}

}