#cf-form {

	width: 100%;
	@include clearfix;

	div {
		/* form element wrapper */
		position: relative;
		margin: 2rem 0;
	}

	.submit-btn {

		div {

			margin: 0;

		}

	}

	h4, .cf-label {
		font-size: 1.3rem;
		color: darken($color-3, 30%);
		margin-bottom: 10px;
	}

	.cf-label {
		display: block;
	}

	input, textarea, select, label {
		font-size: 1.6rem;
		color: $color-2;
	}

	input[type="text"], 
	input[type="email"], 
	textarea, 
	select,
	legend {
		display: block;
		width: 100%;
		@include appearance(none);
	}

	input[type="text"], 
	input[type="email"], 
	textarea, 
	select {
		/* general style for input elements */
		padding: 12px;
		border: 1px solid darken($color-3, 10%);
		background-color: $color-4;

		&:focus {
			outline: none;
			border-color: $color-1;
		}
	}

	textarea {
		min-height: 15rem;
		resize: vertical;
		overflow: auto;
	}

	input[type="submit"] {
		/* button style */
		border: none;
		background: $color-1;
		padding: 16px 20px;
		color: $color-4;
		font-weight: bold;
		cursor: pointer;
		@include font-smoothing;
		@include appearance(none);

		.no-touch &:hover {
			background: darken($color-1, 5%);
		}

		&:focus {
			outline: none;
			background: darken($color-1, 5%);
		}

		&:active {
			@include transform(scale(.9));
		}
	}

	[required] {
		background: url('../assets/img/form/cf-required.svg') no-repeat top right;
	}

	.submit-message {
		
		display: none;

		p {

			background: $color-1;
			color: $grey-color;
			@include font-smoothing;
			padding: 1.5rem;
			margin: 0;
		
		}// p

		&.error-message {

			p {
				
				background-color: $color-5;

			}// p

		}// .error-message

	}// .submit-message

	.error {
	
		border-color: $color-5 !important;

		&#cf-name-error,
		&#cf-email-error,
		&#cf-textarea-error {

    		display: none !important;

		}

	}// .error

	@include media-breakpoint-up(sm) {

		div {
			/* form element wrapper */
			margin: 3rem 0;
		}

		h4, .cf-label {
			font-size: 1.4rem;
			margin-bottom: 10px;
		}

		input[type="text"], 
		input[type="email"], 
		textarea, 
		select {
			padding: 1.6rem;
		}

	}// @include media-breakpoint-up(sm)

}

@include keyframes(cf-bounce) {
	0%, 100% {
		@include transform(scale(1));
	}

	50% {
		@include transform(scale(.8));
	}
}

/* -------------------------------- 

Custom icons

-------------------------------- */

#cf-form {

	.icon input, .icon select, .icon textarea {
		padding-left: 54px !important;
	}

	.user {
		background: url('../assets/img/form/name-icon.svg') no-repeat 16px center;
	}

	[required].user {
		background: url('../assets/img/form/name-icon.svg') no-repeat 16px center, 
					url('../assets/img/form/cf-required.svg') no-repeat top right;
	}

	.email {
		background: url('../assets/img/form/email-icon.svg') no-repeat 16px center;
	}

	[required].email {
		background: url('../assets/img/form/email-icon.svg') no-repeat 16px center, 
					url('../assets/img/form/cf-required.svg') no-repeat top right;
	}

	.message {
		background: url('../assets/img/form/message-icon.svg') no-repeat 16px 16px;
	}

	[required].message {
		background: url('../assets/img/form/message-icon.svg') no-repeat 16px 16px, 
					url('../assets/img/form/cf-required.svg') no-repeat top right;
	}
}

/* -------------------------------- 

FLoating labels 

-------------------------------- */

.js .floating-labels {

	div {
		margin: 4rem 0 0;
	}

	.cf-label {
		position: absolute;
		top: 16px;
		left: 16px;
		font-size: 1.6rem;
		cursor: text;
		@include transition(top .2s, left .2s, font-size .2s);
	}

	.icon .cf-label {
		left: 56px;
	}

	.cf-label.float {
		/* move label out the input field */
		font-size: 1.4rem;
		top: -1.8rem;
		left: 0 !important;
	}

	@include media-breakpoint-up(sm) {

		.cf-label {
			top: 20px;
		}

	}// @include media-breakpoint-up(sm) {	

}