.tooltip {

	display: inline;
	position: relative;

	&:hover {

		&:after {

			content: attr(title);
			@include center(true, false);
			top: 120%;
			background: $color-2;
			border-radius: 5px;
			color: #fff;
			line-height: 1;
			padding: 5px 10px 4px;
			z-index: 98;

		}

		&:before {

			content: "";
			@include center(true, false);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 5px 4px 5px;
			border-color: transparent transparent $color-2 transparent;
			bottom: -20%;
			z-index: 99;

		}// :before

	}// :hover

}// .tooltip