// colors

$color-1: #13AAE5; // Light blue
$color-2: #F3F4F7; // light grey
$color-3: #d88683; // pink
$color-4: #fff; // white

// fonts 

$primary-font: 'Ubuntu', sans-serif;
$heading-color-1: #19293A;
$body-color-1; #344455;
$link-color-1: $color-1;

