// colors

$white: #fff;
$color-1: #13AAE5; // Light blue
$color-2: #F3F4F7; // light grey
$color-3: #d88683; // pink

// fonts 

$primary-font: 'Open Sans', sans-serif;
$heading-color-dark: #19293A;
$body-color-dark: #344455;
$link-color-1: $color-1;

