---
layout: default
---

<div class="about container">
  <section class="row">
    <div id="sidebar" class="post-meta col-sm-12 col-md-8">
		<div class="sidebar-inner">
			<h2>Home of the only Canadian that can't ice skate.</h2>      
      <p>Originally from Canada, I moved to San Diego when I was 12, then back up to the PNW in 2012. When I'm not designing the web, my wife and baby son keep me blissfully occupied - enjoying everything from hiking, snowboarding, softball, and indoor soccer to building custom conference tables, travelling and crossing off projects around the house.</p>
      <p>Professionally, I've designed and developed websites for mom &amp; pops all the way up to a Fortune 100. I love working with my clients and teammates to help them realize their vision and make their brand succeed in the digital space. I bring years of UI and Front-End Web design and development experience to the table, as well as significant expertise in the following:</p>
      <ul>
        <li>Iconography</li>
        <li>App Design</li>
        <li>Layout</li>
        <li>Wireframing + Prototyping</li>
        <li>Printed Collateral</li>
        <li>Illustrations</li>
        <li>Logo Designs</li>
      </ul>
      <h3>Thanks for stopping by!</h3>
		</div><!--// .sidebar-inner -->
    </div><!--// #sidebar.post-meta -->
    <div class="main-content offset offset-md-up large-offset animate fadeInUp col-sm-12 col-md-4">
      <div class="polaroid tilt-left box-shadow">
        <img src="{{ '/assets/img/evan-and-b-thumbs-up.jpg' | relative_url }}" />
      </div><!--// .box-shadow -->
      <div class="polaroid up-right tilt-right box-shadow">
        <img src="{{ '/assets/img/evan-jade-b-mariners.jpg' | relative_url }}" />
      </div><!--// .box-shadow -->
    </div><!--// .post-content -->
  </section><!--// .row -->
</div><!--// .about.container -->
