---
layout: default
---

<a class="cd-nav-trigger cd-img-replace">Open navigation<span></span></a>

<section id="section1" class="cd-section parallax bg-blue bg-1 container-fluid">
	<div class="container">
		<div class="row row-primary align-items-center">
			<div class="col">
				<img src="{{ "/assets/img/work/remitly-phone.png" | relative_url }}" />
			</div><!--// .col -->
			<div class="col">
				<h1 class="mb-5">Brief</h1>
				<p>Remitly is the largest digital money transfer service in the US. transforming the lives of immigrants and their families by empowering their users.</p>
				<p>After raising $115M of funding from PayU they needed to prepare for rapid product and team expansion.</p>
			</div><!--// .col -->		
			<!--<a href="#section2" class="cd-scroll-down cd-img-replace">scroll down</a>-->
		</div><!--// .row -->
	</div><!--// .container -->
</section><!-- cd-section -->

<section id="section2" class="cd-section bg-white container-fluid">
	<div class="container">
		<div class="row row-primary align-items-center">
			<div class="row">
				<div class="col">
					<img class="mb-5" src="{{ "/assets/img/ui/define-icon.svg" | relative_url }}" width="48px" height="48px" />
					<h1 class="mb-5">Define</h1>
				</div><!--// .col -->		
				<div class="col">
				</div><!--// .col -->		
			</div><!--// .row -->
			<div class="row">
				<div class="col">
					<p>PRODUCT: Remitly’s was scaling from 9 send receive corridors to over 300 which made their current static website, product and digital content unsustainable.</p>
					<p>COMPANY: The Remitly team was opening offices in two new locations and doubling the size of their headquarters. They needed an easy to use system that created an autonomous team, while ensuring consistency in the user lifecycle.</p>	
				</div><!--// .col -->	
				<div class="col">
					<p>SOLUTION: Create a CMS that could be used by PMs and Marketers to create the signed in and signed out site, newsletters, and digital marketing content.</p>
					<p>Focus on site first to meet scaling needs.</p>
				</div><!--// .col -->			
			</div><!--// .row -->
			<!--<a href="#section3" class="cd-scroll-down cd-img-replace">scroll down</a>-->
		</div><!--// .row -->
	</div><!--// .container -->
</section><!-- cd-section -->

<section id="section3" class="cd-section">
	<p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.&rdquo;</p>
	<!--<a href="#section4" class="cd-scroll-down cd-img-replace">scroll down</a>-->
</section><!-- cd-section -->

<section id="section4" class="cd-section">
	<p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.&rdquo;</p>
	<!--<a href="#section5" class="cd-scroll-down cd-img-replace">scroll down</a>-->
</section><!-- cd-section -->

<section id="section5" class="cd-section">
	<p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.&rdquo;</p>
	<!--<a href="#section6" class="cd-scroll-down cd-img-replace">scroll down</a>-->
</section><!-- cd-section -->

<section id="section6" class="cd-section">
	<p>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto numquam, totam iusto officia earum perferendis, culpa ad atque eveniet praesentium nobis expedita similique beatae tenetur. Distinctio vel tenetur, id cum.&rdquo;</p>
</section><!-- cd-section -->

