---
layout: default
---
<section id="Section1" class="cd-section parallax bg-blue bg-1 pt-8 container-fluid">
	<div class="row row-primary align-items-end">
		<div class="col-lg-5 offset-lg-1 order-lg-1 order-12 text-center">
			<img src="{{ "/assets/img/work/remitly-phone.png" | relative_url }}" />
		</div><!--// .col -->
		<div class="col-lg-5 order-lg-12 order-1 pb-5">
			<h1 class="mb-5">Overview</h1>
			<p>Remitly is the largest digital money transfer service in the United States; transforming the lives of immigrants and their families by empowering their users.</p>
			<p>After raising $115M of funding from PayU, they needed to prepare for rapid product and team expansion. The signed-out and signed-in website was comprised of static modules and features relying on the Design and Engineering teams for every change.</p> 
			<p>These teams needed a source of truth. PM and Marketing needed a CMS that would make them autonomous and prepared for expansion.</p>
			<p>My role was to create the UI guidelines, design the signed-in and signed-out site pages, and work with the dev team to identify the components and functions the CMS would need.</p>
		</div><!--// .col -->		
	</div><!--// .row -->
	<!--<a href="#section2" class="cd-scroll-down cd-img-replace">scroll down</a>-->
</section><!-- cd-section -->

<section id="Section2" class="cd-section bg-white container-fluid py-8">
	<div class="row row-primary align-items-top">
		<div class="col-md-5 offset-md-1">
			<img class="mb-5" src="{{ "/assets/img/ui/define-icon.svg" | relative_url }}" width="48px" height="48px" />
			<h1 class="mb-5">Define the challenge</h1>
		</div><!--// .col -->
		<div class="w-100"></div>	
		<div class="col-sm-10 offset-md-1">
			<div class="row">
				<div class="col-md-4">
					<p><strong>Product:</strong> Remitly was scaling from 9 send-receive corridors to over 300,which made their current ad hoc website, product and digital content untenable.</p>
				</div><!--// .col -->				
				<div class="col-md-4">
					<p><strong>Company:</strong> The Remitly team was opening offices in two new locations and doubling the size of their team from 350 to 700+. Rapid expansion was leading to teams recreating the same assets and causing an inconsistent user experience.</p>			
				</div><!--// .col -->
				<div class="col-md-4">
					<p>We designed a sustainable CMS that aligned the teams and allowed us to hit our expansion goals.</p>		
				</div><!--// .col -->				
			</div><!--// .row -->
		</div><!--// .col -->
	</div><!--// .row -->
	<!--<a href="#section3" class="cd-scroll-down cd-img-replace">scroll down</a>-->
</section><!-- cd-section -->

<section id="Section3" class="cd-section bg-grey container-fluid py-8">
	<div class="row row-primary align-items-center">
		<div class="col-md-4 offset-md-1 pb-7 pb-md-0">
			<img class="mb-5" src="{{ "/assets/img/ui/discovery-icon.svg" | relative_url }}" width="48px" height="48px" />
			<h1 class="mb-5">Discovery</h1>
			<ul class="content-list">
				<li>RACI model to identify stakeholders</li>
				<li>Site inventory to define UI patterns and component types needed for each phase of launch</li>
				<li>User testing to surface any major UX concerns</li>
				<li>Identifying dynamic content to minimize effort and prevent unnecessary human error</li>
			</ul>				
		</div><!--// .col -->
		<div class="col-md-7">
			<img src="{{ "/assets/img/work/lajambe-casestudy-discovery.png" | relative_url }}" />
		</div><!--// .col -->			
	</div><!--// .row -->
	<!--<a href="#section4" class="cd-scroll-down cd-img-replace">scroll down</a>-->
</section><!-- cd-section -->

<section id="Section4" class="cd-section bg-white container-fluid pt-8">
	<div class="row row-primary align-items-center">
		<div class="col-md-6 order-md-1 order-12">
			<img src="{{ "/assets/img/work/discovery-user-testing.png" | relative_url }}" />
		</div><!--// .col -->
		<div class="col-md-5 order-md-12 order-1 pb-5 pb-md-0">
			<h1 class="mb-5">Discovery: User Testing</h1>
			<p>Scaling and consistency were the main goals. To meet the expansion timeline this wasn’t the time to redo the architecture or content, however, I ran some user tests to make sure I was aware of any major UX errors that could be corrected during this redesign. Three show-stoppers were identified:</p>
			<p><strong>Users were unable to identify and navigate corridors:</strong> <a href="https://validately.com/tracker_shares/35b987f5-d807-4deb-b9c2-35c5977054b6" target="_blank">Desktop (Validately)</a>, <a href="https://validately.com/tracker_shares/1cc0a293-0bad-4832-8f67-62769eaf1483" target="_blank">Mobile (Validately)</a>.</p>
			<p><strong>0/30 users were able to correctly state what Remitly’s exchange rates were on the pricing page:</strong> <a href="https://validately.com/tracker_shares/17a3c796-6f4a-4e39-b651-d0dbf3614435" target="_blank">Pricing (Validately)</a>.</p>
			<p><strong>Users didn’t understand our product.</strong> Remitly’s Customer Service Team was receiving over 9,500 calls/mo for KYC inquiries, 6,400 calls/mo for tier limits, and 30% of all calls are to answer common questions that were not available on the site.</p>
		</div><!--// .col -->
	</div><!--// .row -->
	<!--<a href="#section5" class="cd-scroll-down cd-img-replace">scroll down</a>-->
	<div class="w-100 section-sep bg-grey"></div>
</section><!-- cd-section -->

<section id="Section5" class="cd-section bg-white container-fluid py-8">
	<div class="row row-primary align-items-top">
		<div class="col-md-5 offset-sm-1 pb-5 pb-md-0">
			<img class="mb-5" src="{{ "/assets/img/ui/ideate-icon.svg" | relative_url }}" width="48px" height="48px" />
			<h1 class="mb-5">Ideate</h1>
			<h2>Dynamic Content</h2>
			<p class="mb-5">Working with the Development team to identify dynamic text and image replacements, to establish consistency, minimize effort, and prevent unnecessary human error.</p>
			<div class="row">
				<div class="col">
					<ul class="content-list mb-3">
						<li class="mb-0">Customer name</li>
						<li class="mb-0">Referer name</li>
					</ul>
					<ul class="content-list mb-3">
						<li class="mb-0">Send country name</li>
						<li class="mb-0">Receive country name</li>
					</ul>
					<ul class="content-list">
						<li class="mb-0">Promotional rate </li>
						<li class="mb-0">Current send rate</li>
						<li class="mb-0">Current recieve rate</li>
						<li class="mb-0">Fee</li>
					</ul>
				</div><!--// .col -->
				<div class="col">
					<ul class="content-list mb-3">
						<li class="mb-0">Flags</li>
						<li class="mb-0">Icons</li>
						<li class="mb-0">Logos</li>
					</ul>
					<ul class="content-list mb-3">
						<li class="mb-0">Background images</li>
						<li class="mb-0">Color themes</li>
					</ul>
					<ul class="content-list">
						<li class="mb-0">Header</li>
						<li class="mb-0">Footer</li>
						<li class="mb-0">Disclaimers</li>
					</ul>
				</div><!--// .col -->
			</div><!--// .row -->
		</div><!--// .col -->
		<div class="col-md-6 order-md-12">
			<img src="{{ "/assets/img/work/ideate-dynamic-content.png" | relative_url }}" />
		</div><!--// .col -->			
	</div><!--// .row -->
	<!--<a href="#section6" class="cd-scroll-down cd-img-replace">scroll down</a>-->
</section><!-- cd-section -->

<section id="Section6" class="cd-section bg-blue container-fluid py-8">
	<div class="row row-primary justify-content-sm-center align-items-center">
		<div class="col-md-6 mb-6 text-center">
			<h1 class="mb-5">Ideate: Component Types</h1>
			<p>I created wireframes of the top viewed pages to identify a lean set of components types needed for launch. Every component was redesigned and aligned. 5 new component types were created outside of the initial project scope to address the findings in the user testing we couldn’t ignore.</p>
		</div><!--// .col -->
	</div><!--// .row -->
	<img src="{{ "/assets/img/work/ideate-wireframes.png" | relative_url }}" />
	<!--<a href="#section7" class="cd-scroll-down cd-img-replace">scroll down</a>-->
</section><!-- cd-section -->

<section id="Section7" class="cd-section bg-white container-fluid py-8">
	<div class="row row-primary justify-content-sm-center align-items-center">
		<div class="col-md-6 mb-6 text-center">
			<img class="mb-5" src="{{ "/assets/img/ui/design-icon.svg" | relative_url }}" width="48px" height="48px" />
			<h1 class="mb-5">Design: UI Guidelines</h1>
			<p>Finally building for scale. Creating a shared set of guidelines eliminated duplicity, confusion and reduced design and development time. maintaining a symbol library.</p>
		</div><!--// .col -->
	</div><!--// .row -->
	<img src="{{ "/assets/img/work/design-guidelines.png" | relative_url }}" />
	<!--<a href="#section8" class="cd-scroll-down cd-img-replace">scroll down</a>-->
	<div class="w-100 section-sep bg-grey mt-8"></div>
</section><!-- cd-section -->

<section id="Section8" class="cd-section bg-white container-fluid py-8">
	<div class="row row-primary justify-content-sm-center align-items-center">
		<div class="col-md-6 mb-6 text-center">
			<h1 class="mb-5">Design: Final Components</h1>
			<p>We launched with 10 component types and now have 40. When creating a new component we ask ourselves if it needs to be a stand alone, or if better functionality can be added to something already existing.</p>
		</div><!--// .col -->
	</div><!--// .row -->
	<img src="{{ "/assets/img/work/design-guidelines.png" | relative_url }}" />
	<!--<a href="#section9" class="cd-scroll-down cd-img-replace">scroll down</a>-->
</section><!-- cd-section -->

<section id="Section9" class="cd-section bg-grey container-fluid py-8">
	<div class="row row-primary align-items-center">
		<div class="col-md-4 offset-md-1 pb-5 pb-md-0">
			<img class="mb-5" src="{{ "/assets/img/ui/test-icon.svg" | relative_url }}" width="48px" height="48px" />
			<h1 class="mb-5">Test</h1>
			<p><strong>User testing:</strong> Validately, Fullstory, customer surveys, and CS Calls used to direct ongoing improvements to the user experience.</p>
			<p><strong>Internal:</strong> Training sessions with the PMs and Marketers to teach them how to use their new tool and get their feedback on improvements. Created a slack channel and bi-weekly office hours to discuss updates.</p>
			<p><strong>Conversion:</strong> Each page type underwent A/B testing to make sure that conversion wasn’t impacted negatively. </p> 
		</div><!--// .col -->
		<div class="col-md-7">
			<img src="{{ "/assets/img/work/test-fullstory.png" | relative_url }}" />
		</div><!--// .col -->			
	</div><!--// .row -->
	<!--<a href="#section10" class="cd-scroll-down cd-img-replace">scroll down</a>-->
</section><!-- cd-section -->

<section id="Section10" class="cd-section bg-white container-fluid py-8">
	<div class="row row-primary align-items-top">
		<div class="col text-center">
			<h1 class="mb-5">Results</h1>
		</div><!--// .col -->
		<div class="w-100"></div>	
		<div class="col-md-5 offset-md-1">
			<p><strong>Scale:</strong> Positioned the new CMS to be scalable and self-serviced to support the expansion to 300+ corridor combinations. Previously it took 5 days to launch a page after content was created, now several pages can be launched in minutes.</p>
			<p><strong>Autonomous:</strong> Marketers and PMs can now create tests and launch entire pages without needing the Design or Development teams.</p>
			<p><strong>Efficiency:</strong> Creating guidelines and a CMS decreased design and development time and duplicity.</p>
		</div><!--// .col -->	
		<div class="col-md-5">
			<p><strong>Consistency:</strong> Guidelines created consistency internal and with external vendors across product and marketing materials.</p>
			<p><strong>UX:</strong> Users are able to change corridors, read pricing pages, find common questions, and navigate the site.</p>
			<p><strong>Conversion:</strong> Not the purpose of the project, but the launch of the CMS saw and 16% increase in conversion and the site saw a 30% reduction in bounce rate.</p>
			<p><strong>SEO:</strong> Also not the main scope, but site views improved by 20%. 85% of the pages/keywords being ranked top 5 and 95% appearing in first page results.</p>			
		</div><!--// .col -->			
	</div><!--// .row -->
</section><!-- cd-section -->

{% include footer.html %}
