html {

	font-size: 62.5%;

	body {

		font-family: $base-font-family;
		font-size: $base-font-size;
		background-color: $grey-color;

		ul {

			margin: 0 0 0 0.5rem;
			padding: 0 0 0 1.3rem;

		}// ul

		img {

			max-width: 100%;

		}// img

		button {

			&:focus {

				outline: none;

			}

		}

	}// body

}// html